@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains mono';
}

*::selection {
    background-color: #f1cdb7;
    color: #080e1d;
}

body {
    background-color: #080e1d;
}

body::-webkit-scrollbar {
	width: 0 !important;
  }