@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains mono';
}
body {
    background-color: #050913;
}

body::-webkit-scrollbar {
	width: 0 !important;
  }